<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redis Dash | Browser</title>

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">-->

    <!--<link rel="stylesheet" href="/css/sticky-footer.css">-->
    <link rel="stylesheet" href="/css/sticky-footer.css">
    <link rel="stylesheet" href="/css/redis-dash.css">
    <!--<link rel="stylesheet" href="/css/custom-styles.css">-->


</head>

<body>
<main class="container">

    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
                <a class="navbar-brand" href="/">Redis Dash</a>
            </nav>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-12 ml-4">
            <h5 th:text="${'Name: ' + instance.name}"></h5>
            <p th:text="${'Hostname: ' + instance.hostname + ':' + instance.port}"></p>
        </div>
        <div class="col-lg-12">
            <!--<nav class="navbar navbar-expand-lg">
                &lt;!&ndash;<a class="navbar-brand" th:href="${instance.uuid}" th:text="${instance.name}"></a>&ndash;&gt;
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item btn btn-danger" href="">Overview<span class="sr-only">(current)</span></a>
                        <a class="nav-item btn" href="#">Configuration</a>
                        <a class="nav-item btn" href="#">Clients</a>
                    </div>
                </div>
            </nav>-->
            <ul class="nav nav-pills nav-justified">
                <a class="nav-item btn" th:href="${'/instances/' + instance.uuid}">Overview</a>
                <a class="nav-item btn btn-danger"  href="#">Data Browser</a>
                <a class="nav-item btn" href="#">Configuration</a>
                <a class="nav-item btn" th:href="${'/instances/' + instance.uuid + '/clients'}">Clients</a>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <hr/>
            <form id="keySearch">
                <div class="form-group row">
                    <div class="col-sm-6 offset-2">
                        <input id="keySearchBox" class="form-control" type="text" placeholder="Search Keys (type minimum 3 chars)">
                    </div>
                    <button type="button" id="keySearchBtn" onclick="javascript:keySearch()" class="btn btn-danger float-right">Search</button>
                </div>
            </form>
        </div>
    </div>


</main>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>
<!-- JS Scripts-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/redis-dash.js"></script>

</body>

</html>