<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redis Dash | Overview</title>

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">-->

    <!--<link rel="stylesheet" href="/css/sticky-footer.css">-->
    <link rel="stylesheet" href="/css/sticky-footer.css">
    <link rel="stylesheet" href="/css/redis-dash.css">
    <!--<link rel="stylesheet" href="/css/custom-styles.css">-->


</head>

<body>
<main class="container">

    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
                <a class="navbar-brand" href="/">Redis Dash</a>
            </nav>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-12 ml-4">
            <h5 th:text="${'Name: ' + instance.name}"></h5>
            <p th:text="${'Hostname: ' + instance.hostname + ':' + instance.port}"></p>
        </div>
        <div class="col-lg-12">
            <!--<nav class="navbar navbar-expand-lg">
                &lt;!&ndash;<a class="navbar-brand" th:href="${instance.uuid}" th:text="${instance.name}"></a>&ndash;&gt;
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item btn btn-danger" href="">Overview<span class="sr-only">(current)</span></a>
                        <a class="nav-item btn" href="#">Configuration</a>
                        <a class="nav-item btn" href="#">Clients</a>
                    </div>
                </div>
            </nav>-->
            <ul class="nav nav-pills nav-justified">
                <a class="nav-item btn btn-danger" href="">Overview</a>
                <a class="nav-item btn" th:href="${'/instances/' + instance.uuid + '/browser'}">Data Browser</a>
                <a class="nav-item btn" href="#">Configuration</a>
                <a class="nav-item btn" th:href="${'/instances/' + instance.uuid + '/clients'}">Clients</a>
            </ul>
        </div>
    </div>
    <hr/>
    <div class="row text-center" id="overview">
        <input th:value="${instance.uuid}" type="hidden" id="uuid"/>
        <div class="col-lg-3 info">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 th:text="${info.totalKeys}"></h2>
                    <h5 class="card-title">Total Keys</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 info">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 th:text="${info.connectedClients}"></h2>
                    <h5 class="card-title">Connected Clients</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 info">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 th:text="${info.connectionsReceived}"></h2>
                    <h5 class="card-title">Connections Received</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 info">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 th:text="${info.connectionsRejected}"></h2>
                    <h5 class="card-title">Connections Rejected</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 info">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 th:text="${info.usedMemoryHuman}"></h2>
                    <h5 class="card-title">Used Memory</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 info">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 th:text="${info.maxMemoryHuman}"></h2>
                    <h5 class="card-title">Total Memory</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 info">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 th:text="${info.hitRatio}"></h2>
                    <h5 class="card-title">Hit Ratio</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 info">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 th:text="${info.uptimeDays + ' days'}"></h2>
                    <h5 class="card-title">Uptime</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 info">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 th:text="${info.role}"></h2>
                    <h5 class="card-title">Role</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 info">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 th:text="${info.version}"></h2>
                    <h5 class="card-title">Version</h5>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div id="graphs">
        <div class="row">
            <div class="col-lg-4">
                <h5>Total Keys</h5>
            </div>
            <div class="col-lg-4">
                <h5>Connected Clients</h5>
            </div>
            <div class="col-lg-4">
                <h5>Used Memory</h5>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>
<!-- JS Scripts-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/redis-dash.js"></script>
<script>
    $(document).ready(function(){
        console.log("ready")
        //setInterval(refreshInstanceDetails,60000);
    })
</script>
</body>

</html>